h1{
    text-align: center;
}
p{
    text-align: center;
}
table{
    width: 80%;
    border-collapse: collapse;
    margin-top: 50px;
}
td, th{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
